page-index {
  .card-background-page {  
    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 30%;
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      background-color:rgba(0,0,0,0.2);
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 72%;
      width: 100%;
      color: #fff;
      background-color:rgba(0,0,0,0.2);
    }
  }

  .scroll-content{
    //margin-top:26px !important;
    padding:0 5% !important;
}
}

